@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.main{
    width: 40%;
    box-shadow: 1px 1px 10px silver;
    margin-top: 45px;
    padding: 10px;
}
h2{
    font-family: "Tajawal", serif;
    font-weight: 700;
    font-style: normal;
}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: "Tajawal", serif;
    font-size: 15px;
    font-weight: bold;
}
button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: #1ac15c;
    cursor: pointer;
    font-family: "Tajawal", serif;
    margin-bottom: 15px;
}
label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: #1f87cf;
    font-family: "Tajawal", serif;
    color: white;
}
a{
    font-family: "Tajawal", serif;
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    font-weight: bold;
}